body {
  background-color: #eee;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.mdb-skin-custom .side-nav .collapsible li .collapsible-header {
  color: #424242;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}
.mdb-skin-custom .side-nav .collapsible li .collapsible-body a {
  color: #424242;
  font-size: .78rem;
  height: 28px;
  line-height: 28px;
  background-color: rgba(95,93,93,.15);
}

.mdb-skin-custom .side-nav .search-form .md-form input {
  color: #424242!important;
  border-bottom: 1px solid rgba(153,153,153,.3);
}

.mdb-skin-custom .side-nav .search-form {
  border-top: 1px solid rgba(153,153,153,.3);
}

.classic-admin-card .card-body {
  color: #fff;
  margin-bottom: 0;
  padding: .9rem;
}

.classic-admin-card .card-body p {
  font-size: 13px;
  opacity: 0.7;
  margin-bottom: 0px;
}

.classic-admin-card .card-body h4 {
  margin-top: 10px;
}

.cascading-admin-card .admin-up .fa,
.cascading-admin-card .admin-up .far {
  padding: 1.7rem;
  font-size: 2rem;
  color: #fff;
  text-align: left;
  border-radius: 3px;
}

.cascading-admin-card .admin-up .fa, .z-depth-2 {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
  box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}

.cascading-admin-card .admin-up .data {
  float: right;
  margin-top: 2rem;
  text-align: right;
}
.cascading-admin-card .admin-up {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: -20px;
}

/* OTHERS/SECTIONS */

#sections .list-panel .list-group-item {
  border: 0;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 1px;
}

#sections .dark-link{
  color: inherit;
  text-decoration: none;
}

/** Navigation bar **/

.side-nav .collapsible a{
  font-size: 1.5rem!important;
  margin-top: 1.8rem;
}

.fixed-action-btn.active ul {
  height: 240px;
}

.line-1dot3-rem td{
  font-size: 1rem;
  vertical-align: middle;
  padding-top: 0.2rem!important;
  padding-bottom: 0.2rem!important;
}

.link{
  text-decoration: underline;
  color: #0645AD!important;
}

.btn.disabled{
  background-color: #424242!important;
}